*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: gilroy;

}
html,
body{
height: 100%;
width: 100%;

}
body{
    background-color: black;
}
.box{
background-color: yellow;
height: 20%;
width: 20%;
border: 2px solid green;
}
#box2{
background-color: rgb(255, 0, 0);
height: 20%;
width: 20%;
border: 2px solid green;
}
h1{
color:white

}
